.message_page {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
}

/* 왼쪽 리스트 */
#left_box {
    width: 35%;
    height: calc(100% - 10px);
    box-shadow: 0 0 3px 2px #b1b1b1;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 5px 0 0 5px;
    overflow-y: auto;
}
.msg_search_box{
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 16px;
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
}
#left_box img {
    position: absolute;
    top: 35px;
    right: 20px;
}

/* 오른쪽 메신저 */
#right_box {
    width: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 공통 border-radius */
#chatInput, #submit, #search, .roomBox, #setting, .msg_bubble, .room_footer {
    border-radius: 10px;
}

/* 메시지 헤더 */
.msg_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.leftText {
    display: flex;
    align-items: center;
}
.menu_tg {
    width: 30px;
    height: 30px;
}
#roomName {
    margin-left: 25px;
}

/* 메시지 내용 */
.msg_con {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.msg_wrap {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.msg_time {
    font-size: 13px;
    color: #D0D6E8;
    align-self: flex-end;
    text-align: right;
}
.msg_bubble {
    background-color: #B5CFFF;
    padding: 15px 25px;
    word-break: break-word;
}
.msg_png {
    width: 40px;
    height: 40px;
}
.time {
    color: rgb(99, 99, 99);
}

/* 채팅창 */
#chatBox {
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}
#chatForm {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#chatInput {
    width: 84%;
    height: 65px;
    padding: 0 40px;
    background-color: #EDF1F4;
    border: 0;
    font-size: 18px;
}
#chatInput::placeholder {
    font-size: 18px;
}
#submit {
    padding: 0 32px;
    border: 0;
    background-color: #8BC34A;
    color: #fff;
    cursor: pointer;
}

/* 채팅방 */
.room {
    width: 100%;
    cursor: pointer;
}
.roomBox {
    display: flex;
    justify-content: space-between;
    background-color: #EDF1F4;
    padding: 20px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}
.roomBox.active {
    background-color: #B5CFFF;
}
.room_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.last_message {
    color: #828383;
}
.room_footer {
    width: 40px;
    background-color: #1B263B;
    color: #fff;
    text-align: center;
}

/* 설정 메뉴 */
#setting {
    position: absolute;
    top: 100%;
    right: 0;
    width: 155px;
    border: 1px solid #D9D9D9;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
.set_menu {
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
}
.set_menu.active {
    background-color: #D0D6E8;
}
.set_menu:first-child {
    border-radius: 10px 10px 0 0;
}
.set_menu:last-child {
    border-radius: 0 0 10px 10px;
}
.search_png {
    width: 20px;
    height: 20px;
}

/* 미디어 쿼리 */
/* 탭 */
@media screen and (max-width: 1345px) and (min-width:918px){
    #left_box { width: 40%; height: 80%;}

    #right_box { width: 55%; height: 80%;}

    .roomBox, .searchBox #search {
        padding: 10px 20px;
    }
    .room_left .text_18 { font-size: 14px; }

    .last_message { font-size: 13px; }

    #left_box img { top: 30px; }

    #chatInput {
        height: 55px;
        font-size: 15px;
    }
    #chatInput::placeholder { font-size: 15px; }

    #submit {
        padding: 0 14px;
        font-size: 14px;
    }
    .msg_png {
        width: 35px;
        height: 35px;
    }
    .msg_bubble {
        padding: 10px 20px;
    }
}
/* 모바일 */
@media screen and (max-width: 917px) {
    #left_box { width: 45%; height: 80%;}

    #right_box { width: 50%; height: 80%;}

    .roomBox {
        padding: 10px;
        flex-wrap: wrap;
    }
    .room_left .text_18 { font-size: 15px; }

    .last_message { font-size: 13px; }

    .searchBox #search {
        padding: 10px 20px;
        border-radius: 8px;
    }
    #left_box img { top: 30px; }

    #chatInput {
        width: 76%;
        padding: 0 20px;
        height: 45px;
        font-size: 13px;
    }
    #chatInput::placeholder { font-size: 13px; }

    #submit {
        padding: 0 15px;
        font-size: 14px;
    }
    .msg_png {
        width: 30px;
        height: 30px;
    }
    .msg_bubble {
        padding: 8px 20px;
        font-size: 14px;
    }
    .msg_time { font-size: 12px; }

    #setting { width: 115px; }

    .set_menu {
        font-size: 13px;
        padding: 15px;
    }

    
    #chatInput, #submit, #search, .roomBox, #setting, .msg_bubble, .room_footer {
        border-radius: 8px;
    }
}
