/* 결재 페이지 공통 요소 */
/* 내 결재 현황 */
.doc_con_box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.con_sub_title{
    font-weight: 600;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 10px;
}
.doc_con_box .sub_title{
    margin-bottom: 10px;
}
.send_con_box{
    width: 100%;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 14px;
    padding: 10px;
    display: flex;
}
.send_num_box:last-child{
    border: 0;
    margin-right: -30px;
}
.send_num_box{
    width: calc(100% / 4);
    position: relative;
    margin-right: 30px;
    border-right: 1px dashed #333;
}
.send_num{
    position: absolute;
    bottom: 0;
    right: 30px;
}


/* 최근 열람 문서 */
.folder_wrap{
    width: 100%;
    padding: 15px;
    overflow: hidden;
    background-color: #F8F8F8;
    border: 1px solid #D9D9D9;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
}
.list_content::-webkit-scrollbar {
  display: none;
}
.doc_inbox{
    margin-right: 40px;
}
.doc_img_box{
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
/* 결재목록 */
.author_list{
    height: calc(100% - 193px);
}
.author_info{
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author_data.li_author_data{
    width: 100%;
    height: calc(100% - 260px);
}

/* 결재목록 리스트 */
#docCategoryFilter,#docStateFilter{
    border: 0;
    font-size: 16px;
    appearance: revert;
    background-color: #ffffff;
}
.docCard{
    justify-content: space-between;
}

/* 결재목록 카테고리 필터 크기 */
.doc_board_info{
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.doc_category{
    width: 10%;
    display: flex;
    justify-content: center;
}
.doc_board_check{
    width: 5%;
}
.doc_name{
    width: 50%;
}
.doc_state{
    width: 10%;
}
.doc_time{
    width: 20%;
}
.doc_board_wrap{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}
#uploadTime{
    width: 20%;
}
#docStateFilter{
    width: 6%;
}
#docCategoryFilter,.doc_state,.doc_time{
    text-align: center;
}
.doc_state_sel{
    width: 60px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background-color: #F8F8F8;
    color: #1B263B;
    font-size: inherit;
    text-align-last: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#authorList{
    height: calc(100% - 56px);
    overflow-y: auto;
}




















/* PC 버전 */
@media (min-width:1346px){
    /* 내 결재 현황 */
    .send_num_box{
        height: 105px;
    }

    .doc_send{
        font-size: 16px;
    }
    .send_num{
        font-size: 40px;
    }
    .doc_num{
        font-size: 16px;
    }

    /* 최근열람 문서 */
    .doc_icon{
        width: 36px;
        height: 45px;
    }

    /* 결재목록 */
    .board_filter{
        font-size: 16px;
    }
    .board_info{
        display: flex;
        justify-content: space-between;
    }

    /* 결재목록 리스트 */
    #docCategoryFilter,#docStateFilter{
        width: 8%;
    }


}


/* tab 버전 */
@media (max-width:1345px) and (min-width:918px){
    /* 내 결재 현황 */
    .send_num_box{
        height: 95px;
    }
    .doc_send{
        font-size: 14px;
    }
    .send_num{
        font-size: 30px;
    }
    .doc_num{
        font-size: 14px;
    }


    /* 최근 열람 문서 */
    .doc_icon{
        width: 38px;
        height: 46px;
    }
    .doc_list_title,.doc_time{
        font-size: 14px;
    }

    /* 결재목록 */
    .board_filter{
        font-size: 14px;
    }
    #docCategoryFilter,#docStateFilter{
        width: 12%;
        font-size: 14px;
    }
    .doc_state_sel{
        width: 50px;
        height: 35px;
    }
    .doc_name{
        width: 455px;
        margin-left: 35px;
    }


}



/* mob 버전 */
@media (max-width:917px){
    /* 내 결재 현황 */
    .send_num_box{
        height: 85px;
    }
    .doc_send{
        font-size: 12px;
    }
    .send_num{
        font-size: 20px;
    }
    .doc_num{
        font-size: 12px;
    }

    /* 최근 열람 문서 */
    .folder_wrap{
        padding: 10px;
    }
    .doc_icon{
        width: 32px;
        height: 39px;
    }
    .doc_list_title{
        font-size: 12px;
    }

    /* 결재목록 */
    .board_filter{
        border: 0;
        font-size: 12px;
    }
    .board_title{
        font-size: 12px;
    }
    #docCategoryFilter,#docStateFilter{
        width: 12%;
        font-size: 12px;
    }
    .doc_state_sel{
        width: 50px;
        height: 35px;
    }
    .doc_name{
        width: 360px;
        padding-left: 15px;
    }
    .doc_board_check{
        width: 10%;
    }

    #postFormDoc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
    }

}
