*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    color: #333;
}
body{
    background-color: #ffffff;
    overflow-y: auto;
    color: #333;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
button, input, select, textarea{
  font-family: inherit;
}
[type="checkbox"]{
    accent-color: #1b263b;
}
.text_14{
    font-size: 14px;
}
.text_18{
    font-size: 18px;
}
.text_20{
    font-size: 20px;
}

    /* 공통 스타일 */
.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
}
/* [좌측] 로고, 메뉴, 로그아웃 */
.main_header{
    width: 13%;
    height: 100%;
    background-color: #F4F4F4;
    padding: 15px;
    padding-top: 0;
    overflow-y: auto;
    /* justify-content: space-between; */
}
    /* pc, tab 일때 메뉴아이콘 비활성화 */
.mo_menu_icon{
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
}
.mo_menu_bg{
    opacity: 0;
}
.menu_close_icon{
    display: none;
    cursor: pointer;
}

/* 1. 로고 */
.main_logo_wrap{
    width: 100%;
    height: 90px;
    text-align: center;
}
.main_logo{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* 2. 메뉴, 로그아웃 */
.main_menu{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}
.main_menu_title{
    font-size: 16px;
    color: #1b263b;
    margin-bottom: 15px;
}
.menu_icon{
    width: 30px;
    height: 30px;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #767676;
    margin-bottom: 5px;
    border: 1px solid transparent;
}
.on{
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    color: #1b263b;
}
#mainMenuList .menu:last-child{
    margin-bottom: 0;
}
.logout_btn{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    border-top: 1px solid #d9d9d9;
    /* background-color: yellowgreen; */
    color: #1b263b;
}
.logout_icon{
    width: 20px;
    height: 20px;
}


/* [우측] 페이지타이틀, 프로필, 알림, 컨텐츠 영역 */
.main_content{
    width: 87%;
    padding: 30px;
    overflow-y: auto;
    position: relative;
}
/* 1. 페이지타이틀, 프로필, 알림 */
.header_log{
    width: 100%;
    /* height: 50px; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 999;
    /* background-color: yellowgreen; */
}
.header_log_right{
    display: flex;
    gap: 30px;
}
    /* 페이지타이틀 */
.page_title_wrap{
    position: absolute;
    top: 36px;
    left: 30px;
}
.page_title{
    font-weight: 600;
    font-size: 28px;
}
    /* 프로필 */
.m_profile_wrap{
    width: 180px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
}
.m_profile{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.m_profile_left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.m_profile_img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}
.m_profile_more{
    transform: scaleY(1);
    transition: transform 0.3s ease;
}
.collapsed.m_profile_wrap{
    overflow: visible;
}
.collapsed.m_profile{
    background-color: #f4f4f4;
}
.collapsed .m_profile_more{
    transform: scaleY(-1);
}
.m_profile_card{
    width: 100%;
    height: 0;
    box-shadow: 0px 0px 10px #81818138;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    opacity: 0;
    transition: 0.2s;
}
.m_profile_wrap.collapsed .m_profile_card{
    opacity: 1;
    height: unset;
}
.profile_card_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.profile_card_edit{
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    cursor: pointer;
}
.edit_on{
    background-color: #2c3e50;
    border: 1px solid transparent;
    color: #ffffff;
}
.edit_done{
    background-color: #fff;
    color: #2c3e50;
}
.profile_card_info_box{
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}
.profile_card_info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
}
.edit_input,.profile_card_field{
    width: 100%;
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 14px;
    white-space: nowrap;       /* 한 줄로 유지 */
    overflow: hidden;          /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis;
}
.edit_input{
    border: 1px solid #ccc;
}
    /* 알림 */
.bell_icon_bg{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.bell_icon{
    width: 26px;
}
.bell_icon_bg.bell_icon_bg_on{
    background-color: #F4F4F4;
}
.alarm_wrap{
    width: 400px;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #81818138;
    display: none;
}
.alarm_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
    margin: 10px 0;
}
.alarm_box>img{
    width: 50px;
}
.alarm_title{
    margin-top: 10px;
    margin-left: 10px;
}
.alarm_box{
    width: 100%;
    display: flex;
    background-color: #F4F4F4;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
    margin: 10px 0;
}
.alarm_time{
    color: #767676;
    margin-top: 4px;
    font-size: 14px;
}
.alarm_wrap.alarm_wrap_on{
    display: block;
}
.alarm_img{
    width: 40px;
}

.alarms{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
}
.alarm_badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  background: #ff3b3b;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}


/* 2. 컨텐츠 */
.content_wrap{
    width: 100%;
    height: calc(100% - 70px);
    display: none;
    /* background-color: yellow; */
}
.page_on{
    /* 연결방법 바꾸면 여기 삭제하기 */
    display: block;
}
.page_content{
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    /* overflow: hidden; */
}
.page_content_in{
    width: 100%;
    /* overflow-y: auto; */
}
.sub_title{
    font-size: 24px;
    font-weight: 600;
}

/* 반응형 */
/* 태블릿 */
@media (max-width:1345px) and (min-width:918px) {
    html,body{
        font-size: 14px;
    }
    /* 좌측 */
    .main_header{
        width: 20%;
        padding-top: 20px;
    }
    .main_logo_wrap{
        height: 50px;
    }
    .main_logo{
        width: 70%;
    }
    /* 우측 */
    .header_log{
        height: 50px;
        margin-bottom: 15px;
    }
    .m_profile_wrap{
        height: 50px;
    }
    .main_content{  
        width: 80%;
        padding: 20px;
    }
    .page_content{
        /* padding-bottom: 20px; */
    }
    .content_wrap{
        height: calc(100% - 65px);
    }
    .profile_card_edit{
        padding: 6px 12px;
        font-size: 13px;
    }
    .profile_card_top > .text_18{
        font-size: 16px;
    }
        /* 타이틀 */
    .page_title_wrap{
        top: 32px;
        left: 20px;
    }
    .page_title{
        font-size: 20px;
    }
    .sub_title{
        font-size: 18px;
    }
}
/* 모바일 */
@media (max-width:917px) {
    html,body{
        font-size: 14px;
    }
    .wrap{
        position: relative;
    }
    /* 메뉴 관련 */
    .mo_menu_icon{
        display: block;
    }
    .main_logo_wrap{
        display: none;
    }
    .main_header{
        width: 100%;
        height: 100%;
        position: absolute;
        left: -100%;
        top: 0;
        transition: left 0.5s;
        z-index: 999999;
        padding: 30px;
    }
    .mo_menu_bg.mo_menu_bg_on{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: #00000067;
        transition: opacity 0.2s;
    }
    .logout_btn{
        width: unset;
        padding-left: 0px;
        padding-top: 0px;
        border: 0;
        position: absolute;
        top: 34px;
        left: 92px;
        font-size: 13px;
        color: #b8b8b8;
    }
    .logout_icon{
        display: none;
    }
    .main_menu{
        margin: 0;
    }
    .main_menu_title{
        font-size: 16px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        width: 48%;
        padding: 15px 10px;
        font-size: 15px;
    }
    .menu_close_icon{
        width: 24px;
        height: 24px;
        display: block;
    }
    #mainMenuList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 40px);
    }


    /* 우측 */
    .main_content{
        width: 100%;
        overflow-y: auto;
        padding: 15px;
    }
    .content_wrap{
        height: calc(100% - 45px);
    }
        /* 프로필, 알림 */
    .header_log{
        justify-content: space-between;
        height: 40px;
        margin-bottom: 15px;
    }
    .header_log_right{
        gap: 5px;
    }
    .m_profile_wrap{
        top: 20px;
        right: 20px;
    }
    .m_profile_wrap{
        height: 40px;
    }
    .m_profile{
        border-radius: 5px;
    }
    .m_profile_img,.m_profile_more{
        width: 22px;
        height: 22px;
    }
    .m_profile_card{
        padding: 5px;
        gap: 0;
    }
    .profile_card_top{
        padding: 5px;
    }
    .profile_card_top > .text_18{
        font-size: 14px;
    }
    .edit_input, .profile_card_field{
        font-size: 13px;
    }
    .profile_card_edit{
        padding: 5px 10px;
        font-size: 12px;
    }
    



    .bell_icon_bg{
        width: 40px;
        height: 40px;
    }
    .bell_icon{
        width: 18px;
    }
    .alarm_wrap{
        top: 50px;
    }





        /* 타이틀 */
    .page_title_wrap{
        top: 24px;
        left: 55px;
    }
    .page_title{
        font-size: 18px;
    }
    .sub_title{
        font-size: 16px;
    }





    
}

@media (max-width: 767px) and (orientation: portrait){
    body::before {
        content: "가로모드에서만 이용 가능합니다";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-size: 18px;
        color: #333;
        background: #fff;
    }
    .wrap {
        display: none;
    }
}